.immerse-translation {
  color: inherit;
}

.immerse-tooltip-element {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 200px;
  background: white;
  border: 1px solid #868686;
  border-radius: 5px;
  color: #1b1f23;
  z-index: 999999;
}

.immerse-tooltip-element-header {
  width: 100%;
  height: 2em;
  background: #1d60cc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: rgb(244, 255, 240);
}

.immerse-tooltip-element-body {
  width: 100%;
  height: calc(100% - 3em);
  background: #ffffff;
  justify-content: center;
  display: flex;
  color: rgb(31, 5, 5);
  flex-flow: column;
}

.immerse-body-main {
  width: 100%;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.immerse-body-auxiliaries {
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: space-between;
}

.immerse-body-auxiliaries-kun {
  width: 50%;
  font-size: 1.25em;
  text-align: center;
  color: rgb(22, 163, 64);
}

.immerse-body-auxiliaries-on {
  width: 50%;
  font-size: 1.25em;
  text-align: center;
  color: rgb(201, 138, 23);
}

.immerse-hidden {
  visibility: hidden;
  opacity: 0;
}
