.immerse-tooltip{
    background-color: #1b1f23;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    align-content: center;
    z-index: 999;
    position: absolute;
}
.tooltip-inner{
    padding: 0px 20px 0px 20px;
    color: #fff;
}
.immerse-translation{
    color:inherit;
}