@import '../../global/variables';

* {
  box-sizing: border-box;

  &::selection,
  &::-moz-selection {
    background: $color-whisper;
  }
}

stencil-route-link:hover {
  cursor: pointer;
}

app-root {
  min-height: 100%;
  display: block;
  overflow: hidden;
}

imr-toast {
  transform: translateX(-50%);
  position: fixed;
  top: 500px;
  left: 50%;
  z-index: 80;
}

.container {
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  // padding: 0 1em;
  // flex: 1 0 auto;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6em 0 0;
  justify-content: space-between;
  height: 100%;
}

footer {
  width: 100%;
  border-top: 1px solid black;
  flex: 0 0 6em;
  padding: 20px 0;
  display: flex;
  z-index: 90;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__icons {
  display: flex;
}

.footer__open-source {
  img {
    width: 50%;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-cadet-blue;
    font-size: 10px;
  }
}

imr-app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  // margin-bottom: 100px;
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
