@import '../../global/variables';

.language-selection-option {
  padding-bottom: 1em;
  cursor: pointer;
  img {
    width: 100%;
    &:hover {
        border:1px solid #dadada;
        border-radius:4px;
        outline: none;
        box-shadow: 0 0 2em #9ecaed;
    }
  }
}

.language-selection-carrousel {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6,  40px);
  grid-template-rows: minmax(150px, 1fr);
  justify-content: center;
  padding: 0 20px;
}
