@import '../../global/variables';
@import '../../global/buttons';


imr-view-main {

  .main-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 420px;
    overflow: hidden;
  }



  button:hover {
    box-shadow: $button-shadow-hover;
    transform: translateY(1px);
  }



  .point-card {
    margin: 2.4em;
    position: relative;

    h2 {
      margin-top: 72px;
    }


    &::before {
      position: absolute;
      background: url(/assets/img/feature-icons.png) no-repeat;
      background-size: 48px;
      height: 48px;
      width: 48px;
      content: "";
      top: 0;
      left: calc(50% - 24px);
    }

    &.performant::before {
      background-position: 0 -48px;
    }

    &.future-proof::before {
      background-position: 0 -96px;
    }
  }
}


.toolbar{
  width: 100%;
  margin-right: 30px;
  
  .toolbar-icon{
    width: 25px;
    height: 25px;
    float:right;
    cursor: pointer;
    &.inactive{
      color: gray;
    }
    &.danger{
      color: red;
    }
  }
}